.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/project_folder_SCCPS/2025/4/14/refactorings.history
.metadata/.plugins/org.eclipse.core.resources/.history/10/a00a58d1250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/1c/3003c2b7240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/20/404f0ae6240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/20/e04bfee5250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/45/f0bf5209250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/4e/a003b648250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/5/108a00c1250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/51/b066c359250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/54/107c84ee220f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/69/00dc1e4d250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/69/402915fb250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/6b/e0410dce240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/6d/504757d1250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/6d/50e6344b250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/70/70d137b1240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/8/805a016c250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/85/20490462250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/89/c042c1d4240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/8f/40473dbb240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/98/20a8f1e2250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/9d/70204a4f250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/a1/a0b2eedd250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/b1/b06ed364250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/ba/90d3b8e4250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/e3/30f5c7e1250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/e7/a0768fb6240f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/ee/8030651e250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.history/f9/508ae70d250f00101ef9fe203a0ea3a9
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.indexes/b7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/3.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/4/14/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/4/14/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/project_folder_SCCPS/2025/4/14/refactorings.index
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/project_folder_SCCPS/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
